/* .box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
} */
 /* .hamdard{
    color:red
}
.newClass{
    background-color: green;
}  */
  div {
       height: 300px;
       width:300px;
       background-color: dodgerblue;
       color: white;
       border: 5px solid black
  }